
{% load static %}
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static "css/appareils.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_searchbar.css' %} ?v={{ time }}">
    <link rel="stylesheet" href="{% static 'css/style_sidebar.css' %} ?v={{ time }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <div class="d-flex flex-direction-column">
        <div style="flex: 1;">
            {% include 'sidebar.html' %}
        </div>

        <div class="centre_ d-flex justify-content-between">
            
            <div class="search"> 
                {% include 'searchbar.html'%}
            </div>
            <div class="xamouma d-flex flex-direction-column">

                <div class="cadre_app px-1">
                    <h2 class="ms-5 mt-3 fw-bold">Appareils</h2>
                    <div class="d-flex flex-wrap justify-content-around mx-2 cadre_">
                        <div class="d-flex flex-wrap">
                            {% for appareil in appareils %}
                            <div class="div_1 rounded-3 my-3 py-4 px-4 mx-3">   
                            <div class="d-flex justify-content-center"><img src="{{ appareil.img.url }}" alt="{{ appareil.nom }}" width="" height="150"></div>
                            <div class="d-flex justify-content-between">
                                <div class="text-center fw-bold">
                                    <div>{{appareil.nom}}</div>
                                    <div>({{appareil.piece}})</div>
                                </div>
                                <div class="text-center pb-1">
                                    <div>
                                        {% if appareil.actif == True %} 
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="#173B61" class="bi bi-toggle-on" viewBox="0 0 16 16">
                                                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
                                                </svg>
                                            </a>
                                        {% endif %}
                                        {% if appareil.actif == False %}
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="#173B61" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                                    <path d="M11 4a4 4 0 0 1 0 8H8a5 5 0 0 0 2-4 5 5 0 0 0-2-4zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8M0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5"/>
                                                </svg>
                                            </a>
                                        {% endif %}  
                                    </div>
                                    
                                    <div>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#173B61" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            </div>           
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% if True %}
            <div style="flex: 1.8" class="hcons">
              <!--   {%include 'historique_sidebar.html' %} -->
           </div>
            {% endif %}
            {% if False %}
            <div style="flex: 1;" class="hcons">
                <div> Consommation </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>