{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/style_connexion.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_connexion">
        <div class="gauche">
            <img src="{% static 'img/maison.png' %}" alt="maison" class="img-maison">
            <div class="titre">
                <h1>Avec KeurGui Energy,</h1>
                <h2>“Controlez votre consommation énergétique en temps réel! ”</h2>
            </div>
            
        </div>
        <div class="droite">
            <div class="top">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
                <h2>Connexion</h2>
            </div>
            
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="email" placeholder="Email" name="Email" required>
                </div>
                
                <div class="form-group">
                    <input type="password" placeholder="Mot de passe" name="mdp" required>
                </div>
                
                <div class="form-footer">
                    <a href="{% url 'mdp' %}" class="link-mdp">Mot de passe oublié ?</a>
                </div> 
                <a href="{% url 'accueil' %}" class="btn-con">S'inscrire</a>
            </form>
            
            <div class="signup-link">
                <p>Pas de compte ? <a href="{% url 'inscription' %}">Inscrivez-vous</a></p>
            </div>
        </div>
    </div>
</body>
</html>