{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/style_password.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <div class="container-mdp">
        {% csrf_token %}
        <h1> Mot de passe oublié ?</h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="">Renseignez votre adresse email</label>
                <input type="email" required>
            </div>
            <a href="{% url 'reset_password' %}" class="btn-mdp">Confirmer</a>
        </form>

        <div class="footer">
            <a href="{% url 'connexion' %}">
                <i class="fa-solid fa-arrow-left"></i>
                <p>Retourner à la page de connexion</p>
            </a>
            
        </div>
    </div>
</body>
</html>