<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pieces</title>
    <link rel="stylesheet" href="{% static 'css/style_pieces.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_searchbar.css' %} ?v={{ time }}">
    <link rel="stylesheet" href="{% static 'css/style_sidebar.css' %} ?v={{ time }}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'searchbar.html'%}
    {% include 'sidebar.html' %}

    <div class="main-content">
        <div class="page-sections">
            <!-- Section Pièces -->
            <section class="pieces-section">  
                <h3>Pièces</h3>    
                <div class="pieces-content">
                    <div class="add-piece">
                        <a href="{% url "ajout_piece" %}" class="title">
                            <i class="fa-solid fa-circle-plus"></i>
                            <p class="titre">Ajouter une pièce</p>
                        </a>
                        <div class="pieces">
                            {% for piece in pieces %}
                            <a href="{% url 'cons' %}" class="piece">
                                <img src="{{piece.img.url}}" alt="salon" class="img-piece">
                                <div class="details">
                                    <p class="nom_piece">{{piece.nom}}</p>
                                    <p class="surface">{{piece.surface}}m2</p>
                                </div>
                                <i class="fa-solid fa-ellipsis"></i>
                            </a>
                            {% endfor %}
                        </div>
     
                    </div>

                    <div class="add-appareil">
                        <a href="{% url "ajout_appareil" %}" class="title">
                            <i class="fa-solid fa-circle-plus"></i>
                            <p class="titre">Ajouter un appareil</p>
                        </a>

                        <div class="appareils">
                            {% for appareil in appareils%}
                                <div class="appareil">
                                    <img src="{{ appareil.img.url }}" alt="clim" class="img-app">
                                    <div class="details">
                                        <p class="nom_app">{{ appareil.nom }}</p>
                                        <p class="piece_app">{{ appareil.piece }}</p>
                                    </div>
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="comptes">
                    <p>Wa Keur Gui</p>
                    <div class="maison">
                        <div class="compte">
                            <img src="{% static 'img/homme.jpg' %}" alt="homme" class="img_compte">
                            <div class="infos">
                                <p class="nom">Mamadou Falilou Diaw</p>
                                <p class="email">diawmf@ept.sn</p>
                            </div>
                            <i class="fa-solid fa-trash"></i>
                        </div>

                        <div class="compte">
                            <img src="{% static 'img/femme.jpg' %}" alt="femme" class="img_compte">
                            <div class="infos">
                                <p class="nom">Fatima Dieye</p>
                                <p class="email">bbfa@ept.sn</p>
                            </div>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Section Historique -->
            <section class="history-section">
               <!--  {%include 'historique_sidebar.html' %}  -->
            </section>
        </div>
    </div>
</body>
</html>