{% load static %}
<head>
  <link rel="stylesheet" href="{% static "css/style_searchbar.css" %}">
</head>

<nav class="overflow-hidden me-0">

    <form class="" role="search">

      <div class="d-flex justify-content-between align-items-center pt-3 px-5">
        <div class="form-element1 d-flex">
          <input class="form-control" aria-label="Search">
          <a href="#"><i class="fa-solid fa-magnifying-glass search-button mt-2"></i></a>
        </div>

        <div class="form-element2">
          <a href="{%url 'notifications' %}"> <i class="fa-regular fa-bell element1"></i></a>
          <a href=""><i class="fa-regular fa-circle element2"></i></a>
        </div>

      </div>

    </form>

<div>

</div>
</nav>