<body>
    

<div class="rectanglewhite">
    <span class="titlee" > 
        <img src="static\img\logonobg.png" alt="logo_app" width="50px" height="50px">
    <span class="secondtitle">eurgui Energy</span>
    </span>
    <div class="thesidebar">
        <div class="accueil common">
            <i class="fa-solid fa-house"></i>
        <a href="" routerLink="/accueil" style="color: inherit; text-decoration: none;">  &nbsp; Accueil</a>
        </div>
        <div class="appareil common" routerLink="/appareils">
            <i class="fa-solid fa-house-laptop"></i>
            &nbsp;Appareils
        </div>
        <div class="historique common">
            <i class="fa-solid fa-chart-area"></i>
        <a href="" routerLink="/historique" style="text-decoration: none; color: inherit;"> &nbsp;Historique</a>
        </div>
        <div class="notif common">
            <i class="fa-solid fa-bell"></i>
            &nbsp;Notifications
        </div>
        <div class="pieces common" routerLink="/pieces">
            <i class="fa-solid fa-couch "></i>
            <a href="" routerLink="/pieces" style="text-decoration: none; color: inherit;">  &nbsp; Pièces</a>
        </div>
    </div>
    <div class="deconnexion"> 
        <i class="fa-solid fa-right-from-bracket "></i>
        <a routerLink="">Déconnexion</a>
    </div>
</div>

</body> 