
* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    background-color: #FFFFFF;
}


/* connexion et inscription */

.main_connexion, .main_inscription{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
}

.gauche{
    flex: 1;
    background: linear-gradient(to bottom,#173861 0%,#091F5B 100%);
    height: 100vh;
}

.img-maison{
    width:60%;
    height:50%;
    display: block;
    margin:0 auto;
    padding-top: 10%;
}

.titre{
    margin-top: 5%;
    text-align:center;
    line-height: 1.7;
    font-weight: bold;
}

.titre h1{
    color:#6DAFF6;
    font-size:40px;
}

.gauche h2{
    color:#FFFFFF;
    font-size: 28px;
}
.droite, .right{
    flex: 1;
}

.logo{
    display: block;
    margin: 0 auto;
    height: 40%;
    width: 45%;
    padding-top: 0;
}

.droite h2, .right h2{
    color: #173B61;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


form{
    margin-top: 5%;
    width: 100%;
}

.droite .form-group input,.right .form-group input{
    width: 37%;
    height: 3.5rem;
    display: block;
    margin: 0 auto;
    background-color: #E6EDFB;
    border: none;
    border-radius: 1rem;
    padding-left: 2%;
}

.form-group input:nth-child(1){
    margin-top: 3%;
}

.right .form-group input:nth-child(1){
    margin-top: 2%;
}

.form-group input::placeholder{
    color: #b9c6da;
    font-size: 14px;
}


.form-footer a{
    color: #173B61;
    margin-right: 32%;
    float: right;
    margin-top: 2%;
    font-weight: bold;
}

/* .btn-con, .btn-ins{
    background: #FFFFFF;
    color: #173861;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 7rem !important;
    height: 2.5rem;
    width: 35%;
    border: none;
    border-radius: 1rem;
    padding-top: 1rem;
}

.btn-ins{
    margin-top: 10% !important;
} */

.btn-ins,.btn-con {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    width: 20%;
    height: 2rem;
    padding: 12px;
    background: #173861;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 15%;
}

.btn-ins{
    margin-top: 10% !important;
}

.droite .signup-link, .right .signin-link{
    font-weight: bold;
    margin-top: 6% ;
    text-align: center;
}


.signup-link a, .signin-link a{
    color: #B2CCFF;
}
.signup-link p,.signin-link p{
    color: #173B61;

}