
* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #FFFFFF;
}


/* password */

.container-mdp,.container-reset {
    display: block;
    background: linear-gradient(to bottom, #173861 0%, #2F79C7 100%);
    width: 35%;
    height: 55%;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-mdp h1, .container-reset h1{
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
}

.container-mdp .form-group{
    display: block;
    margin-top: 15%;
    margin-left: 10%;
}

.container-reset form .form-group:first-child{
    margin-left: 10%;
    margin-top: 6%;
}

.container-reset form .form-group:nth-child(2){
    margin-left: 10%;
    margin-top: 4%;
}

.form-group label{
    font-weight: 500;
}

.form-group input {
    width: 75%;
    height: 3.5rem;
    margin-top: 1rem;
    border: none;
    border-radius:0.5rem;
}

.btn-mdp, .confirm-link{
    background: #FFFFFF;
    color: #173861;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 7rem !important;
    height: 2.5rem;
    width: 35%;
    border: none;
    border-radius: 1rem;
    padding-top: 1rem;
}

.confirm-link{
    margin-top: 3rem !important;
}


.footer{
    font-weight: bold;
    margin-top: 12rem;
    color: #173B61;
}

.footer i{
    font-size: 20px;
    margin-right: 1%;
}
.footer a{
    text-decoration: none;
    color: #173B61;
    display: flex;
    position: absolute;
    bottom: 30px;
    /* pour aligner sur une seule ligne */
    left: 30px;
    right: 40px;

}