

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

/* background de la premiere piece lorsqu'on clique dessus */
.pieces .piece:first-child{
    background-color: #E6EDFB;
}

/* consommation piece */

.consommation{
    display: block;
    margin: 0 auto;
    margin-top: 4% !important;
}

.top{
    line-height: 0.3;
}

.top h3{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.top p{
    color: #8c8c8c;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.img_cons{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    margin-top: 3%;

}

.cons{
    margin-top: 4%;
}

.cons .periode{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    margin-top: 8%;
    padding: 5%;
    border-radius: 10px;
}

.periode .titre{
    display: flex;
}

.titre .fa-circle{
    color: #173B61;
    padding-top: 2%;
}

.titre p{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 0.3%;
}

.content{
    display: flex;
}

.content p{
    font-size: 12px;
    color: #091F5B;
    padding: 2%;
    padding-left: 15%;
}

.content .infos{
    color: #48742C;
    font-weight: bold;
    padding-left: 4%;
    white-space: nowrap;
    line-height: 0.1;
    margin-top: auto;
}

.infos p{
    font-size: 14px;
    color: #091F5B;
}
.infos .fa-chart-line{
    color: #48742C;
}